<div id="service" class="t-service t-section t-text-center">
  <div class="t-container mx-auto">
    <h1 class="t-display-xl">The wound heals in service</h1>
  </div>
  <div class="t-welcome-floated">
    <img width="188px" src="{{ 'heart.jpg' | asset_url }}" class="t-heart" />
    <img width="196px" src="{{ 'cup.jpg' | asset_url }}" class="t-cup-phrase" />
    <img width="242px" src="{{ 'gold-frame.jpg' | asset_url }}" class="t-gold" />
    <img width="151px" src="{{ '3d.jpg' | asset_url }}" class="t-geometric" />
  </div>
</div>

<div id="about" class="t-about t-section">
  <div class="t-container mx-auto">
    <div class="t-w-3/4">
      <p>Casa de Copas it’s an invitation to join a movement. <br />
        Not only to visit or hang. But to connect. <br />
        An invitation to be part of something bigger. <br />
        Feel at home in our welcoming, consciously designed art creation house. <br /></p>
    </div>
    <div class="t-mt-10">
      <a class="t-text-3xl" href="https://www.instagram.com/casadecopasmx/">Follow us on Instagram -></a>
    </div>
  </div>
</div>

<div id="footer" class="t-footer t-section t-text-center t-text-orange">
  <div class="t-container mx-auto t-text-center">
    <h1 class="t-display-xl">THE HOUSE FOR CREATIVITY</h1>
    <img src="{{ 'footer-sun.jpg' | asset_url }}" class="t-my-5" />
    <p>CASA DE COPAS EST. 2024</p>
    <div class="t-mt-10">
      <a class="t-text-3xl" href="https://www.instagram.com/casadecopasmx/">Follow us on Instagram -></a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Home Footer",
    "tag": "section",
    "class": "section"
  }
{% endschema %}
