<link rel="stylesheet" href="{{ 'section-image-slider.css' | asset_url }}">

{%- style -%}
  .section-{{ section.id }} {
    display: grid;
    padding: 2rem;
  }

  .section-{{ section.id }}
  section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;

    border-top: 1px solid{{section.settings.color_scheme.settings.text}};
    max-width: calc(var(--page-width) - 15rem);
    width: 100%;

    margin: auto;

    @media screen and (min-width: 750px) {
      grid-template-columns: 20% 20% 1fr;
    };
  }
{% endstyle %}

{% assign custom_id = section.settings.title | downcase | replace: " ", "-" %}

<div
  class="image-slider-section-{{ section.id }}"
  data-section-id="{{ section.id }}"
  title="{{ section.settings.title }}">
  <div class="slide__main-{{ section.id }}">
    <img src="" alt="Main Image">
  </div>
  <div class="slide-{{ section.id }}">
    {% for block in section.blocks %}
      {% if block.type == 'image_slider' %}
        <div class="image-slider__controls">
          <p class="text-body">IMG
            <span class="image-slider__counter-{{ section.id }}"></span>
          </p>
          <div class="image-slider__buttons">
            <button class="image-slider__back-{{ section.id }}">
              {% render 'icon-arrow-left' %}
            </button>
            <button class="image-slider__forw-{{ section.id }}">
              {% render 'icon-arrow-right' %}
            </button>
          </div>
        </div>
        <div class="image-slider__container">
          <img
            class="slide__main-{{ section.id }}"
            width="400px"
            height="250px" />
          <div class="slide-{{ section.id }}">
            {% if block.settings.image1 %}
              <img
                src="{{ block.settings.image1 | image_url }}"
                width="100%"
                height="100%"
                alt="Slider Image 1">
            {% endif %}
            {% if block.settings.image2 %}
              <img
                src="{{ block.settings.image2 | image_url }}"
                width="100%"
                height="100%"
                alt="Slider Image 2">
            {% endif %}
            {% if block.settings.image3 %}
              <img
                src="{{ block.settings.image3 | image_url }}"
                width="100%"
                height="100%"
                alt="Slider Image 3">
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>


<script src="{{ 'image-slider.js' | asset_url }}" defer></script>

{% schema %}
  {
    "name": "Image Slider",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Default Header"
      }, {
        "type": "textarea",
        "id": "description",
        "label": "Description",
        "default": "Default description text."
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-3"
      }
    ],
    "presets": [
      {
        "name": "Custom Image Slider"
      }
    ],
    "blocks": [
      {
        "type": "image_slider",
        "name": "Images",
        "settings": [
          {
            "type": "image_picker",
            "id": "image1",
            "label": "Image 1"
          }, {
            "type": "image_picker",
            "id": "image2",
            "label": "Image 2"
          }, {
            "type": "image_picker",
            "id": "image3",
            "label": "Image 3"
          }
        ]
      }
    ]
  }
{% endschema %}