<div class="image-slider__main">
  <h2>{{ section.settings.header }}</h2>
  <p>{{ section.settings.description }}</p>
  
  <div class="image-slider__slider">
    {% for block in section.blocks %}
      {% if block.type == 'image_slider' %}
        <div class="slide">
          {% if block.settings.image1 %}
            <img src="{{ block.settings.image1 | image_url }}" width="100px" height="100px" alt="Slider Image 1">
          {% endif %}
          {% if block.settings.image2 %}
            <img src="{{ block.settings.image2 | image_url }}" width="100px" height="100px" alt="Slider Image 2">
          {% endif %}
          {% if block.settings.image3 %}
            <img src="{{ block.settings.image3 | image_url }}" width="100px" height="100px" alt="Slider Image 3">
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>



{%  schema  %} 
{
  "name": "Image Slider",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Default Header"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Default description text."
    }
  ],
  "blocks": [
    {
      "type": "image_slider",
      "name": "Image Slider",
      "settings": [
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image 2"
        },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "Image 3"
        }
      ]
    }
]
}
{% endschema %}