<link rel="stylesheet" href="{{ 'section-image-slider.css' | asset_url }}">

{%- style -%}
  .section-{{ section.id }} {
    display: grid;
    padding: 2rem;
  }

  .section-{{ section.id }}
  section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;

    border-top: 1px solid{{section.settings.color_scheme.settings.text}};
    max-width: calc(var(--page-width) - 15rem);
    width: 100%;

    margin: auto;

    @media screen and (min-width: 750px) {
      grid-template-columns: 20% 20% 1fr;
    };
  }
{% endstyle %}

<image-slider-section
  section-id={{section.settings.title | downcase | replace: " ", "-" }}
  id="sliders"
  class="image-slider__main section-{{ section.id }} color-{{ section.settings.color_scheme }}">
  <section>
    <p class="text-body">{{ section.settings.title }}</p>
    <p class="text-body">{{ section.settings.description }}</p>


    <div class="image-slider__slider">
      <div class="image-slider__controls">
        <p class="text-body">IMG
          <span class="image-slider__counter"></span>
        </p>
        <div class="image-slider__buttons">
          <button class="image-slider__back">
            {% render 'icon-arrow-left' %}
          </button>
          <button class="image-slider__forw">
            {% render 'icon-arrow-right' %}
          </button>
        </div>
      </div>
      <div class="image-slider__container">
        <img
          class="slide__main"
          width="400px"
          height="250px" />
        <div class="slide">
          {% for block in section.blocks %}
            {% if block.type == 'image_slide' %}
              <img
                src="{{ block.settings.image | image_url }}"
                width="100%"
                height="100%"
                alt="Slider Image 1">
            {% endif %}
          {% endfor %}
        </div>
      </div>

    </div>
  </section>
</image-slider-section>

<script src="{{'image-slider.js' | asset_url}}" defer></script>

{% schema %}
  {
    "name": "Image Slider",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Default Header"
      }, {
        "type": "textarea",
        "id": "description",
        "label": "Description",
        "default": "Default description text."
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-3"
      }
    ],
    "presets": [
      {
        "name": "Custom Image Slider"
      }
    ],
    "blocks": [
      {
        "type": "image_slide",
        "name": "Image Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "max_blocks": 10
  }
{% endschema %}