<link rel="stylesheet" href="{{ 'section-image-slider.css' | asset_url }}">

{%- style -%}
  .section-{{ section.id }} {
    display: grid;
    padding: 2rem;
  }

  .section-{{ section.id }}
  section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;

    border-top: 1px solid{{section.settings.color_scheme.settings.text}};
    max-width: calc(var(--page-width) - 15rem);
    width: 100%;

    margin: auto;

    @media screen and (min-width: 750px) {
      grid-template-columns: 20% 20% 1fr;
    };
  }
{% endstyle %}

{% assign custom_id = section.settings.title | downcase | replace: " ", "-" %}

<div
  id="sliders"
  data-id={{custom_id}}
  class="image-slider__main section-{{ section.id }} color-{{ section.settings.color_scheme }}">
  <section>
    <p class="text-body">{{ section.settings.title }}</p>
    <p class="text-body">{{ section.settings.description }}</p>


    <div class="image-slider__slider">
      {% for block in section.blocks %}
        {% if block.type == 'image_slider' %}
          <div class="image-slider__controls">
            <p class="text-body">IMG
              <span class="image-slider__counter"></span>
            </p>
            <div class="image-slider__buttons">
              <button class="image-slider__back">
                {% render 'icon-arrow-left' %}
              </button>
              <button class="image-slider__forw">
                {% render 'icon-arrow-right' %}
              </button>
            </div>
          </div>
          <div class="image-slider__container">
            <img
              class="slide__main"
              width="400px"
              height="250px" />
            <div class="slide">
              {% if block.settings.image1 %}
                <img
                  src="{{ block.settings.image1 | image_url }}"
                  width="100%"
                  height="100%"
                  alt="Slider Image 1">
              {% endif %}
              {% if block.settings.image2 %}
                <img
                  src="{{ block.settings.image2 | image_url }}"
                  width="100%"
                  height="100%"
                  alt="Slider Image 2">
              {% endif %}
              {% if block.settings.image3 %}
                <img
                  src="{{ block.settings.image3 | image_url }}"
                  width="100%"
                  height="100%"
                  alt="Slider Image 3">
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}

    </div>
  </section>
</div>

<script>
   document.addEventListener('DOMContentLoaded', function() {
    let sectionContainers = document.querySelectorAll('.image-slider__main');

    sectionContainers.forEach(function(container) {
      let sliderImages = container.querySelector('.slide');
      let slideMainBox = container.querySelector('.slide__main');
      let forwardBtn = container.querySelector('.image-slider__forw');
      let backwardsBtn = container.querySelector('.image-slider__back');
      let counter = container.querySelector('.image-slider__counter');
      let active = 0;

      const addFocus = (active) => {
        slideMainBox.src = sliderImages.children[active].querySelector('img').src;

        // Hide all images first
        Array.from(sliderImages.children).forEach(function(child) {
          child.style.display = 'none';
        });

        // Show the next image in the thumbnails
        sliderImages.children[active].style.display = 'block';
      };

      // Initialize focus on first image & counter
      addFocus(0);
      counter.innerHTML = `${active + 1} / ${sliderImages.children.length}`;

      forwardBtn?.addEventListener('click', () => {
        active++;
        if (active >= sliderImages.children.length) active = 0;
        addFocus(active);
        counter.innerHTML = `${active + 1} / ${sliderImages.children.length}`;
      });

      backwardsBtn?.addEventListener('click', () => {
        active--;
        if (active < 0) active = sliderImages.children.length - 1;
        addFocus(active);
        counter.innerHTML = `${active + 1} / ${sliderImages.children.length}`;
      });
    });
  });
</script>

{% schema %}
  {
    "name": "Image Slider",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Default Header"
      }, {
        "type": "textarea",
        "id": "description",
        "label": "Description",
        "default": "Default description text."
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-3"
      }
    ],
    "presets": [
      {
        "name": "Custom Image Slider"
      }
    ],
    "blocks": [
      {
        "type": "image_slider",
        "name": "Images",
        "settings": [
          {
            "type": "image_picker",
            "id": "image1",
            "label": "Image 1"
          }, {
            "type": "image_picker",
            "id": "image2",
            "label": "Image 2"
          }, {
            "type": "image_picker",
            "id": "image3",
            "label": "Image 3"
          }
        ]
      }
    ]
  }
{% endschema %}