<div id="subheader" class="subheader-icon section-{{ section.id }} page-width">
  <h2>{{ settings.title }}</h2>
  <p class="t{ext-body">{{ settings.description }}</p>
  {% if section.settings.image %}
    <img
      src="{{ section.settings.image | image_url }}"
      height="50px"
      width="50px"
      alt="background image">
  {% endif %}
</div>

{% style %}
  section-{{ section.id }} {
    border: solid 2px red;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Custom Subheading Icon",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Default Title"
      }, {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "Default Description"
      }, {
        "type": "image_picker",
        "id": "icon_image",
        "label": "Icon Image"
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-4"
      }
    ],
    "presets": [
      {
        "name": "Custom Subheading with Icon",
        "category": "Custom"
      }
    ]
  }
{% endschema %}